.modal-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.modal-box {
  display: block;

  width: 90%;
  max-width: 700px;
  min-width: fit-content;
  min-height: fit-content;
  height: 50%;
  max-height: 450px;

  border-radius: 1rem;
}
/* hide scrollbar but allow scrolling */
